@font-face {
	font-family: 'lankadweepa';
	src: url('../fonts/lankadweepa.ttf');
}
@font-face {
	font-family: 'tamil_web';
	src: url('../fonts/tamil_web.ttf');
}
@font-face {
	font-family: 'cambo';
	src: url('../fonts/PoetsenOne.ttf');
}
@font-face {
	font-family: 'sf_new_republic';
	src: url('../fonts/sf_new_republic.ttf');
}

@font-face {
	font-family: 'PoetsenOne';
	src: url('../fonts/PoetsenOne.ttf');
}


/*====================== General ======================*/
.container{
	display: none;
}

.border{
	border: 1px solid black;
}

.clear{
	clear: both;
}

h1, h2{
	color: #fff;
	font-family: 'PoetsenOne';
	margin: 0;
}

.uppercase{
	text-transform: uppercase;
}

.marginTop10px{margin-top: 10px;}
.marginTop15px{margin-top: 15px;}
.marginTop20px{margin-top: 20px;}
.marginTop25px{margin-top: 25px;}
.marginTop30px{margin-top: 30px;}

.row{
	overflow: hidden; 
}

[class*="col-"]{
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

body{
	background-color: #3d6e92;
	overflow-y: auto;
	max-height: 1000px;
}

ul li,
ul li a{
	cursor: pointer;
}

.btn-primary {
	color: #fff;
	background-color: #3d6e92;
	border-color: #3d6e92;
}

#addImageContainer input[type=file].form-control{
	height: auto;
}

#addImageContainer button.form-control{
	height: 36px;
}

/*====================== Header ======================*/

.navbar-inverse,
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	background-color: #303030;
	color: #fff;
}

.navbar-inverse{
	border:none;
}

.navbar-inverse .navbar-brand{
	color: #fff;
	font-family: 'PoetsenOne';
}

.navbar-inverse .navbar-brand img{
	position: relative;
	display: inline-block;
	width: 30px;
	margin-right: 5px;
	top: 50%;
	transform: translateY(-50%);
}

.navbar-inverse .navbar-brand span{
	position: relative;
	display: inline-block;
	font-size: 1.2em;
	top: 50%;
	transform: translateY(-50%);
}

.navbar-inverse .navbar-nav>li>a{
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
	color: #ccc;
}

@media (max-width: 767px){
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
		color: #fff;
	}
}

@media (max-width: 767px){
	.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
		background-color: #e5e5e5;
	}
}

/*=========================== Play Ground ===========================*/

#playGround{
	margin-top: 80px;
}

#playGround #dragDropOverlay{
	position: absolute;
	height: 500px;
	width: 500px;
	background-color: rgba(0,0,0,0.5);
	z-index: 999;
}

#playGround #dragDropOverlay p{
	position: relative;
	display: block;
	font-size: 2em;
	color: #fff;
	margin: 0;
	padding: 0;
	text-align: center;
	cursor: default;
	top: 50%;
	transform: translateY(-50%);
}

#playGround #canvasContainer{
	width: 500px;
	padding-left: 0;
	padding-right: 0;	
}

#rightToolPalate #canvasSize select,
#rightToolPalate #canvasSize p,
#rightToolPalate #canvasSize p span{
	height: 30px;
}

.panel-body{
	height: 300px;
	overflow-y: auto;
}

#rightToolPalate.floatMenu{
	position: absolute;
	width: 400px;
	margin: 0;
	background-color: rgba(13,143,200,0.6);
	overflow: hidden;
	display: block;
	right: 0;
}

#rightToolPalletButton{
	position: absolute;
	top: 80px;
	right: 2px;
	color: #fff;
	font-size: 2em;
	display: none;
}

#closeRightToolPallet{
	font-size: 2em;
	box-sizing: border-box;
	z-index: 99999;
	color: #fff;
	display: none;
}


/*=================Left Tool Palate ==============*/

#playGround #leftToolPalate.screen{
	max-width: 40px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 2px;
	margin-right: 5px;
}

#playGround #leftToolPalate.resRow > button,
#playGround #leftToolPalate.resRow > div#addShapesContainer{
	float: left;
	width: 5%;
	margin: 0 4px 5px 4px;
}

#playGround #leftToolPalate #dLabel,
#playGround #leftToolPalate.screen #addShapes{
	padding-left: 0;
	padding-right: 0;
}
#playGround #leftToolPalate.resRow #addShapes{
	display: block;
	position: absolute;
}
#playGround #leftToolPalate.resRow #addShapes span.fa-plus-square-o{
	display: none;
}

#addShapesUl li{
	font-size: 0.8em;
	padding: 3px 5px 3px 10px;
}

#addShapesUl li:hover{
	background-color: #ccc;
}

#leftToolPalate button{
	border-radius: 50%;
	margin-bottom: 4px;
	border:none;
	box-shadow: none;
	transition: all 0.5s linear;
}

#leftToolPalate button:hover:not(#fillColor):not(#strokeColor){
	transition: all 0.5s linear;
	color: #fff;
	background-color: #d40b0b;
}

#leftToolPalate button#fillColor:hover span,
#leftToolPalate button#strokeColor:hover span{
	transition: all 0.5s linear;
	transform: scale(1.5);
}





/*============= Meme Pallet ===================*/
#collapseOne{
}

#blankMemesContainer,
#memeTemplatesContainer,
#speechbubblesContainer{
	display: inline-block;
	width: auto;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#blankMemesContainer > div,
#memeTemplatesContainer > div,
#speechbubblesContainer > div {
	-webkit-transition-duration: 2s;
	transition-duration: 2s;
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 3px;
	background-color: #fff;
}


.stockImage {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.stockImageOverlay {
	position: absolute;
	background-color: #000000;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 2;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

#blankMemesContainer  > div:hover .stockImage,
#memeTemplatesContainer > div:hover .stockImage,
#speechbubblesContainer > div:hover .stockImage{
	transition: all 0.5s linear;
	transform:scale(1.1);
}



.b-lazy {
	-webkit-transition: opacity 500ms ease-in-out;
	-moz-transition: opacity 500ms ease-in-out;
	-o-transition: opacity 500ms ease-in-out;
	transition: opacity 500ms ease-in-out;
	max-width: 100%;
	opacity: 0.08;
}
.b-lazy.b-loaded {
	opacity: 1;
}


/*============== Add Text ======================*/

#addTextContainer #textFillColor,
#addTextContainer #textStrokeColor{
	width: 34px;
	height: 34px;
	background-color: #000;
	border-radius: 5px;
	border: 2px solid #ccc;
}

#addTextContainer #textFillColor{
	background-color: #fff;
}

#addTextContainer #selectTextFillColor,
#addTextContainer #selectTextStrokeColor{
	position: fixed;
	z-index: 999;
}

#addTextContainer p.about-unicode{
	font-size: 0.8em;
}

/*=========== Brush Tool ===========*/

#brushToolPalate{
	height: 60px;
	top: 15px;
	position: absolute;
	display: block;
	z-index: 10;
	background-color: #00b2ff;
	margin-left: 5px;
	padding-left: 10px;
	box-sizing: content-box;
	display: none;
}

#brushToolPalate #brushColor,
#brushToolPalate #brushSizeLabel,
#brushToolPalate #brushSizeSlider,
#brushToolPalate #closeBrushToolPalate{
	position: relative;
	float: left;
	top: 50%;
	transform: translateY(-50%);
}

#brushToolPalate #brushColor,
#brushToolPalate #selectBrushColor,
#brushToolPalate #brushSizeLabel,
#brushToolPalate #brushSizeSlider,
#brushToolPalate #closeBrushToolPalate{
	display: inline-block;
	float: left;
	margin: 0 5px 0 5px;
}

#brushToolPalate #selectBrushColor{
	position: absolute;
	margin-left: 40px;
	z-index: 99;
}

#brushToolPalate #brushColor{
	width: 36px;
	height: 36px;
	background-color: #000;
	border-radius: 5px;
	border: 2px solid #fff;
}

#brushToolPalate #brushSizeLabel{
	width: 60px;
	line-height: 30px;
	color: #fff;
	font-weight: normal;
	font-size: 1em;
}

#brushToolPalate #brushSizeSlider{
	width: 200px;
	height: 10px;
}

#brushToolPalate #closeBrushToolPalate{
	transition: all 0.5s linear;
	background-color: transparent;
	color: #fff;
	border: none;
	box-shadow: none;
	margin-left: 5px;
	font-size: 2em;
	outline: none;
}

#brushToolPalate #closeBrushToolPalate:hover{
	transition: all 0.5s linear;
	color: #ccc;
}


/*================================Pop Ups========================================*/

#popUpContainer,
.popup-msg{
	position: fixed;
	margin: 10px;
	width: 400px;
	letter-spacing: 0.1em;
	top: 30%;
	left: 20%;
	z-index: 99;
	display: none;
}

#popUpContainer span.fa-cog{
	color: #fff;
	font-size: 1.5em;
	text-shadow: 0px 1px 3px #000000; 
}

.popup-msg .alert.alert-warning {
	border-radius: 0;
}

#popUpContainer .alert-warning,
.popup-msg .alert-warning{
	color: #fff;
	background-color: rgba(61, 110, 146, 0.7);
	border-width: 2px;
	border-color: rgba(61, 110, 146, 1);	
}
.popup-msg .alert-warning .close{
	margin: 0 0 5px 5px;
}
.popup-msg .alert-warning button{
	background-color: #0d8fc8;
	color: #fff;
	margin-top: 5px;
}


/**************************** welcom box ***************************************/
#welcomeBox{
	background-color: rgba(61, 110, 146, 0.9);
}

#welcomeBox .modal-content{
	padding: 15px;
}

#welcomeBox img{
	display: block;
	margin: 0 auto;
}


#welcomeBox div h3,
#welcomeBox div h4{
	width: 100%;
	font-family: 'PoetsenOne';
	color: #3d6e92;
	font-size: 1.4em;
	text-align: center;
	margin: 0;
}

#welcomeBox div h4{
	font-size: 1.3em
}
#welcomeBox button{
	background-color: rgba(61, 110, 146, 0.9);
	float: right;
	border:none;
}

#welcomeBox button:hover{
	background-color: #0d8fc8;
}

#welcomeBox .modal-body{
	background-color: rgba(61, 110, 146, 0.9);
}

#welcomeBox .modal-content p{
	color: #fff;
	font-size: 1em;
	display: block;
	text-align: justify;
}


/*========================= Color Pickers =======================*/

#fillColorContainer{
	position: absolute;
	margin-top: -220px;
	margin-left: 50px;
	z-index: 999;
	display: none;
}

#fillColorContainer > label{
	width: 150px;
	margin-left: 20px;
	cursor: default;
}

#fillColorContainer #selectFillColor{
	position: absolute;
	z-index: 99;
}

#fillColor{
	background-color: #fff;
}


.resRow #fillColorContainer{
	margin: 0;
	margin-top: 50px;
}

#strokeColor{
	background-color: #000;
}

#selectStrokeColor{
	position: fixed;
	margin-left: 60px;
	margin-top: -120px;
	z-index: 99;
}

#selectCanvasColor{
	position: fixed;
	margin-top:10%;
	margin-left:10%;
	z-index: 999;
}

.resRow #selectStrokeColor{
	margin: 0;
	margin-top: 50px;
}


/*========================= Stoke Tool Palate =========================*/

#strokeToolPalate{
	height: 60px;
	top: 15px;
	position: absolute;
	display: block;
	z-index: 10;
	background-color: #00b2ff;
	margin-left: 5px;
	padding-left: 10px;
	box-sizing: content-box;
	display: none;
}

#strokeToolPalate #stokeWidthLabel,
#strokeToolPalate #stokeWidthSlider,
#strokeToolPalate #closeStrokeToolPalate{
	position: relative;
	float: left;
	top: 50%;
	transform: translateY(-50%);
}

#strokeToolPalate #brushColor,
#strokeToolPalate #stokeWidthLabel,
#strokeToolPalate #stokeWidthSlider,
#strokeToolPalate #closeStrokeToolPalate{
	display: inline-block;
	float: left;
	margin: 0 5px 0 5px;
}

#strokeToolPalate #stokeWidthLabel{
	width: 120px;
	line-height: 30px;
	color: #fff;
	font-weight: normal;
	font-size: 1em;
}

#strokeToolPalate #stokeWidthSlider{
	width: 200px;
	height: 10px;
}

#strokeToolPalate #closeStrokeToolPalate{
	transition: all 0.5s linear;
	background-color: transparent;
	color: #fff;
	border: none;
	box-shadow: none;
	margin-left: 5px;
	font-size: 2em;
	outline: none;
}

#strokeToolPalate #closeStrokeToolPalate:hover{
	transition: all 0.5s linear;
	color: #ccc;
}



/*========================= Bootstrap Modal Override ============*/
#saveImageModal .modal-dialog{
	margin-top: 10%;
}

#saveImageModal #downloadImage{
	display: none;
}



/*====================== Spinner Setting =======================*/

.spinner {
	display: inline-block;
	opacity: 0;
	width: 0;

	-webkit-transition: opacity 0.25s, width 0.25s;
	-moz-transition: opacity 0.25s, width 0.25s;
	-o-transition: opacity 0.25s, width 0.25s;
	transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
	cursor:progress;
}

.has-spinner.active .spinner {
	opacity: 1;
	width: auto;
}

.has-spinner.btn-mini.active .spinner {
	width: 10px;
}

.has-spinner.btn-small.active .spinner {
	width: 13px;
}

.has-spinner.btn.active .spinner {
	width: 16px;
}

.has-spinner.btn-large.active .spinner {
	width: 19px;
}


/*====================== Feedback Container =======================*/
#feedbackContainer .modal-header p{
	font-size: 0.8em;
	margin-top: 5px;
	margin-bottom: 0;
	padding-bottom: 0;
}

#feedbackContainer .modal-header h4{
	font-family: "cambo";
	/*font-size: 1.8em;*/
	text-shadow: 1px 1px 1px #fff;
}

/*====================== About Us Container =======================*/
#aboutUsContainer .modal-header{
	background-color: #f37123;
}

#aboutUsContainer .modal-header h4{
	font-family: "cambo";
	font-size: 1.8em;
	color: #fff;
}

#aboutUsContainer .modal-header img{
	background-color: #f37123;
	margin:0 auto;
}

#aboutUsContainer .modal-body p{
	font-size: 0.8em;
	margin-top: 5px;
	margin-bottom: 0;
	padding-bottom: 0;
}

#aboutUsContainer .modal-footer p{
	float: left;
}

/*====================== Clear Canvas =======================*/
#confirmClearCanvas .modal-body p:last-child{
	font-size: 0.8em;
}

/*=================== Posting Image ======================*/

#postingImage p{
	font-size: 0.8em;
	float: right;
}


/*=============================== Menu Dropdowns / dropdown-submenu ===============================*/

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}




/*=============== Custom ToolTip ============*/
.tooltipsy{
	font-size: 1em;
	padding: 5px 10px 5px 10px;
	max-width: 200px;
	color: #fff;
	background-color: #3d6e92;
	border: 1px solid #3d6e92;
	text-shadow: none
}

/*=============== Crop ============*/
.showDownloadImgContainer{
	/*max-width: 400px !important;*/
	margin-bottom: 10px !important;
	display: none;
}

#showDownloadImg{
	/*max-width: 400px !important;*/
	border:2px solid #285e8e;
}

.cropper-container{
	left: 0 !important;
}

.docs-toolbar{
	display: none;
}
.saveChangers{
	font-size: 0.8em;
	display: none;
}