@font-face {
	font-family: 'lankadweepa';
	src: url('../fonts/lankadweepa.ttf');
}
@font-face {
	font-family: 'tamil_web';
	src: url('../fonts/tamil_web.ttf');
}
@font-face {
	font-family: 'cambo';
	src: url('../fonts/PoetsenOne.ttf');
}
@font-face {
	font-family: 'sf_new_republic';
	src: url('../fonts/sf_new_republic.ttf');
}

@font-face {
	font-family: 'PoetsenOne';
	src: url('../fonts/PoetsenOne.ttf');
}




* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	overflow-x: hidden;
	background-color: #3d6e92;
	/*padding-bottom: 100px;*/
}

.border{
	border: 1px solid black;
}

.marginTop10px{margin-top: 10px;}
.marginTop15px{margin-top: 15px;}
.marginTop20px{margin-top: 20px;}
.marginTop25px{margin-top: 25px;}
.marginTop30px{margin-top: 30px;}


img{
	display: block;
	width: 100%;
}



/*========= Header ==========*/

#header{
	background-color: #303030;
	color: #fff;
	font-family: 'PoetsenOne';
	border:none;
}

#header img{
	position: relative;
	display: inline-block;
	width: 36px;
	margin-right: 5px;
	top: 40%;
	transform: translateY(-50%);
	border:none;
}

#header span{
	color: #fff;	
	position: relative;
	display: inline-block;
	line-height: 36px;
	font-size: 1.2em;
	top: 50%;
	transform: translateY(-50%);
}

#header p{
	margin: 0;
	padding: 0;
	display: inline-block;
	position: absolute;
	font-size: 2em;
	left:50%;
	transform: translateX(-50%);
}

@media (max-width: 565px){
	#header p{
		display: inline-block;
		position: relative;
		font-size: 2em;
	}
}

#galleryContainer{
	margin-top: 55px;
}

.item { 
	transition: all 0.5s linear !important;
	float: left;
	width: 20%; 
	margin: 0;
	border: 5px solid transparent;
}
.item.w2 { 
	transition: all 0.5s linear !important;
	float: left;
	width: 40%; 
	margin: 0;
}

.isotope {
	background: transparent;
	max-width: 1200px;
	margin: 0 auto;
}

.item p{
	background-color: rgba(0,0,0,0.5);
	transition: all 0.5s linear !important;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: left;
	padding-left: 10px;
	color: #fff;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
	font-weight: bold;
	margin: 0;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	float: left;
	display: none;
}

.item .overlay{
	transition: all 0.5s linear !important;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(13,143,200,0.5);
	display: none;
}

.item img{
	transition: all 0.5s linear !important;
}

.item:hover,
.item:hover img{
	transform: scale(1.05);
	z-index: 99;
	border: 2px solid #0d8fc8;
}

.item:hover p{
	box-sizing:border-box;
	margin: 0;
	bottom: 0;
}
.item:hover .overlay{
	display: block;
}

.item:hover p{
	display: block;
}


/*====================== Spinner Setting =======================*/

.spinner {
	display: inline-block;
	opacity: 0;
	width: 0;

	-webkit-transition: opacity 0.25s, width 0.25s;
	-moz-transition: opacity 0.25s, width 0.25s;
	-o-transition: opacity 0.25s, width 0.25s;
	transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
	cursor:progress;
}

.has-spinner.active .spinner {
	opacity: 1;
	width: auto; 
}

.has-spinner.btn-mini.active .spinner {
	width: 10px;
}

.has-spinner.btn-small.active .spinner {
	width: 13px;
}

.has-spinner.btn.active .spinner {
	width: 16px;
}

.has-spinner.btn-large.active .spinner {
	width: 19px;
}


