@font-face {
	font-family: 'lankadweepa';
	src: url('../fonts/lankadweepa.ttf');
}
@font-face {
	font-family: 'tamil_web';
	src: url('../fonts/tamil_web.ttf');
}
@font-face {
	font-family: 'cambo';
	src: url('../fonts/PoetsenOne.ttf');
}
@font-face {
	font-family: 'sf_new_republic';
	src: url('../fonts/sf_new_republic.ttf');
}

@font-face {
	font-family: 'PoetsenOne';
	src: url('../fonts/PoetsenOne.ttf');
}

/*================================Privacy Policy========================================*/
#privacy_policy{
	width: 80%;
	margin: 0 auto;
	padding-top: 50px;
}

#privacy_policy h1{
	font-size: 1.8em;
}

#privacy_policy h2{
	font-size: 1.5em;
}

#privacy_policy .last-update{
	display: block;
	float: right;
	margin-top: 50px;
	font-size: 0.8em;
}

#privacy_policy #contact-us{
	float: right;
	text-align: right;
}